<h1>Add a Definition:</h1>

  <form action="/definitions" method="post">
  <label for="definition"></label>
  <input id="definition" placeholder="Definition" name="definition" type="text">


  <button type="submit" class="btn-success" placeholder="Type Definition"></button>
  </form>
