<h1 style="text-align:center">Welcome to Dictionary App</h1>
<div class="col-sm-12">
    <div class="index">
        <ul class="list-group">
            <li class="list-group-item list-group-item-success">
                <a href="/words">See all the Words List</a>
            </li>
            <li class="list-group-item list-group-item-info">
                <a href="/words/new">Add New Words to the Dictionary List</a>
            </li>
        </ul>
    </div>
