<div> <h1>Add Words to the Dictionary App</h1>

  <p>Add a word here:</p>

  <form action="/words" method="post">
    <label foError: source does not appear to be markup.="word">Word:</label>
    <input id="word" name="word" type="text">
    <button type="submit" class="btn-success">Add word</button>
  </form>
</div>
